#banner-container {
    display: flex;
    justify-content: space-around;
}

#title-container {
    display: flex;
    flex-direction: column;
    
}

#banner-title {
    margin-bottom: 0.01rem;
}

#banner-subtitle {
    margin-top: 0.25rem;
}